In [7]:
import pandas as pd

hong_sung = pd.read_csv("uit_feeding_hy_624_홍성금평.csv")

hong_sung_file  = pd.DataFrame(hong_sung)
print(hong_sung_file)
print(type(hong_sung.columns))
print(hong_sung.shape)

         input_dt donsa_cd group_id  eq_id feed_plan_cd  ilcha feed_plan_nm  \
0      2018-06-20        B        a      1           B2      6           2산
1      2018-06-20        B        a      2           B2      4           2산
2      2018-06-20        B        a      6           B2      6           2산
3      2018-06-20        B        a      7           B3      6          3산+
4      2018-06-20        B        a      8           B3      6          3산+
...           ...      ...      ...    ...          ...    ...          ...
15247  2022-06-15        B        a     16           B4      7       지혜팜김태규
15248  2022-06-15        B        a     17           B4     12       지혜팜김태규
15249  2022-06-15        B        a     18           B4     12       지혜팜김태규
15250  2022-06-15        B        a     25           B4     30       지혜팜김태규
15251  2022-06-15        B        a     35           B4     30       지혜팜김태규

            in_dt  farm_no  pig_no  ... four_kg  four_now_kg  five_tm  \
0      2018-06-09      624   301.0  ...     0.0            0        0
1      2018-06-09      624   323.0  ...     0.0            0        0
2      2018-06-09      624   310.0  ...     0.0            0        0
3      2018-06-09      624   178.0  ...     0.0            0        0
4      2018-06-09      624   271.0  ...     0.0            0        0
...           ...      ...     ...  ...     ...          ...      ...
15247  2022-05-30      624   394.0  ...     0.0            0        0
15248  2022-05-30      624   487.0  ...    16.0            0        0
15249  2022-05-30      624   323.0  ...    16.0            0        0
15250  2022-05-04      624   414.0  ...    20.0            0        0
15251  2022-05-04      624   489.0  ...    20.0            0        0

       five_kg  five_now_kg  warn_kg  min_kg               log_dt  \
0          0.0            0       13      26  2018-06-20 15:42:26
1          0.0            0        8      15  2018-06-20 15:42:27
2          0.0            0       13      26  2018-06-20 16:42:35
3          0.0            0       13      26  2018-06-20 15:42:37
4          0.0            0       13      26  2018-06-20 16:42:39
...        ...          ...      ...     ...                  ...
15247      0.0            0       12      25  2022-06-15 08:12:26
15248      0.0            0       20      40  2022-06-15 08:12:28
15249      0.0            0       20      40  2022-06-15 08:12:29
15250      0.0            0       25      50  2022-06-15 01:14:07
15251      0.0            0       25      50  2022-06-15 08:12:52

       control_mod_yn  trans_yn
0                   N         Y
1                   N         Y
2                   N         Y
3                   N         Y
4                   N         Y
...               ...       ...
15247               N         N
15248               N         N
15249               N         N
15250               N         Y
15251               N         N

[15252 rows x 54 columns]
<class 'pandas.core.indexes.base.Index'>
(15252, 54)

In [17]:
import pandas as pd

pigplan_624 = pd.read_csv('/mnt/d/project/comars/pigplan_624.csv')

print(pigplan_624)
pigplan_624  = pd.DataFrame(pigplan_624)

      FARM_NO  Unnamed: 1 FARM_PIG_NO  Unnamed: 3  BUNMAN_SANCHA  Unnamed: 5  \
0         624         NaN       36-86         NaN              2         NaN
1         624         NaN       36-86         NaN              3         NaN
2         624         NaN       36-86         NaN              4         NaN
3         624         NaN       36-86         NaN              5         NaN
4         624         NaN       36-86         NaN              6         NaN
...       ...         ...         ...         ...            ...         ...
2459      624         NaN     041-025         NaN              1         NaN
2460      624         NaN     041-031         NaN              1         NaN
2461      624         NaN     034-087         NaN              1         NaN
2462      624         NaN     035-006         NaN              1         NaN
2463      624         NaN     036-020         NaN              1         NaN

      GYOBAE_DT  Unnamed: 7  BUNMAN_DT  Unnamed: 9  ...  Unnamed: 11  SILSAN  \
0      20100521         NaN   20100913         NaN  ...          NaN      13
1      20101009         NaN   20110202         NaN  ...          NaN      18
2      20110309         NaN   20110703         NaN  ...          NaN      13
3      20110801         NaN   20111125         NaN  ...          NaN      10
4      20111227         NaN   20120421         NaN  ...          NaN      16
...         ...         ...        ...         ...  ...          ...     ...
2459   20220119         NaN   20220514         NaN  ...          NaN      11
2460   20211228         NaN   20220418         NaN  ...          NaN      10
2461   20211203         NaN   20220328         NaN  ...          NaN      12
2462   20211218         NaN   20220412         NaN  ...          NaN       9
2463   20211225         NaN   20220421         NaN  ...          NaN      16

      Unnamed: 13  EUDUSU  Unnamed: 15  EUKG  Unnamed: 17  CHOGYOBAE  \
0             NaN      11          NaN   0.0          NaN        NaN
1             NaN      10          NaN  80.0          NaN        NaN
2             NaN      11          NaN  88.0          NaN        NaN
3             NaN      10          NaN  70.0          NaN        NaN
4             NaN      11          NaN  88.0          NaN        NaN
...           ...     ...          ...   ...          ...        ...
2459          NaN      12          NaN   0.0          NaN      242.0
2460          NaN      10          NaN   0.0          NaN      220.0
2461          NaN      12          NaN   0.0          NaN      212.0
2462          NaN       9          NaN   0.0          NaN      227.0
2463          NaN      12          NaN   0.0          NaN      233.0

      Unnamed: 19  JAE
0             NaN  NaN
1             NaN  5.0
2             NaN  9.0
3             NaN  4.0
4             NaN  5.0
...           ...  ...
2459          NaN  NaN
2460          NaN  NaN
2461          NaN  NaN
2462          NaN  NaN
2463          NaN  NaN

[2464 rows x 21 columns]

In [23]:
pigplan_624_proprecessing = pigplan_624.iloc[ :, list(range(0,21,2))]

In [24]:
pigplan_624_proprecessing

,FARM_NO,FARM_PIG_NO,BUNMAN_SANCHA,GYOBAE_DT,BUNMAN_DT,CHONGSAN,SILSAN,EUDUSU,EUKG,CHOGYOBAE,JAE
0,624,36-86,2,20100521,20100913,13,13,11,0.0,NaN,NaN
1,624,36-86,3,20101009,20110202,18,18,10,80.0,NaN,5.0
2,624,36-86,4,20110309,20110703,13,13,11,88.0,NaN,9.0
3,624,36-86,5,20110801,20111125,13,10,10,70.0,NaN,4.0
4,624,36-86,6,20111227,20120421,17,16,11,88.0,NaN,5.0
...,...,...,...,...,...,...,...,...,...,...,...
2459,624,041-025,1,20220119,20220514,11,11,12,0.0,242.0,NaN
2460,624,041-031,1,20211228,20220418,10,10,10,0.0,220.0,NaN
2461,624,034-087,1,20211203,20220328,12,12,12,0.0,212.0,NaN
2462,624,035-006,1,20211218,20220412,10,9,9,0.0,227.0,NaN
2463,624,036-020,1,20211225,20220421,17,16,12,0.0,233.0,NaN